<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <div class="content">
        Entre para ter acesso a sua conta
      </div>
    </h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class => "article-form" }) do |f| %>
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.email_field :email, autofocus: true, placeholder: :email%>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, autocomplete: "off", placeholder: :password%>
          </div>
        </div>
        <br>
        <div class="field">
          <div class="ui toggle checkbox">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        </div>
        <br>
        <%= f.submit "Log in", class:"ui fluid large submit button" %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>
