<h4>Insira aqui os dados da Vaga de seu Estacionamento</h4>

<%= form_with scope: :parking_spots, url: parking_spots_path, local: true,  class: 'ui form left' do |form| %>
  <% if @parking_spot.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@parking_spot.errors.count, "error") %> prohibited
        this parking_spot from being saved:
      </h2>
      <ul>
        <% @parking_spot.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Identificação da Vaga:' %><br>
    <div class="ui corner labeled input">
    <%= form.text_field :spot_id %>
    </div>
  </div>

  <div class="field">
    <%= form.label 'Andar da Vaga:' %><br>
    <div class="ui corner labeled input">
    <%= form.text_field :spot_floor %>
    </div>
  </div>
  <div class="field">
    <%= form.label 'Descrição da Vaga:' %><br>
    <div class="ui corner labeled input">
    <%= form.text_area :spot_description %>
    </div>
  </div>

  <%= form.submit "Enviar", class: 'ui submit button orange login-btn right floated' %>
<% end %>
